/frontend/node_modules
frontend/src/.umi/
frontend/yarn-error.log
frontend/yarn.lock
frontend/src/pages/User/Login/__snapshots__/login.test.tsx.snap
frontend/pnpm-lock.yaml
*.pyc
backend/auth/migrations/
backend/config.ini
*.log
frontend/src/.umi-test/
